<!DOCTYPE html>
<html>
<head>
    <title>Shipping Cost Calculator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/my.js"></script>
</head>
<body>
<h1>Shipping Cost Calculator</h1>
<div>
    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight">
</div>
<br>
<div>
    <label for="carrier">Carrier:</label>
    <select id="carrier" name="carrier">
        <option value="transCompany">TransCompany</option>
        <option value="packGroup">PackGroup</option>
    </select>
</div>
<br>
<button id="calculateBtn">Calculate Price</button>
<div id="result"></div>
</body>
</html>